/* src/styles/themes.css */
.aw-wm-root[data-aw-theme="dark"] {
    --aw-wm-bg: #0e0f12;
    --aw-wm-window-bg: rgba(25, 27, 33, 0.98);
    --aw-wm-window-font-color: #fff;
    --aw-wm-border: rgba(255, 255, 255, 0.12);
    --aw-wm-border-active: rgba(255, 255, 255, 0.24);

    --aw-wm-title-text: rgba(255, 255, 255, 0.90);
    --aw-wm-muted-text: rgba(255, 255, 255, 0.70);

    --aw-wm-titlebar-bg: rgba(255, 255, 255, 0.02);
    --aw-wm-titlebar-active-bg: rgba(255, 255, 255, 0.1);
    --aw-wm-titlebar-border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    --aw-wm-btn-bg: rgba(255, 255, 255, 0.06);
    --aw-wm-btn-bg-hover: rgba(255, 255, 255, 0.10);
    --aw-wm-btn-border: rgba(255, 255, 255, 0.10);
    --aw-wm-btn-close-hover: rgba(255, 70, 70, 0.25);

    /* shape & shadow */
    --aw-wm-radius: 0px;
    --aw-wm-shadow: none;

}

.aw-wm-root[data-aw-theme="light"] {
    --aw-wm-bg: #f3f5f7;
    --aw-wm-window-bg: rgba(255, 255, 255, 0.98);
    --aw-wm-window-font-color: #212121;
    --aw-wm-border: rgba(0, 0, 0, 0.14);
    --aw-wm-border-active: #888888;

    --aw-wm-title-text: rgba(0, 0, 0, 0.88);
    --aw-wm-muted-text: rgba(0, 0, 0, 0.60);

    --aw-wm-titlebar-bg: #fafafa;
    --aw-wm-titlebar-active-bg: #eaeaea;
    --aw-wm-titlebar-border-bottom: 1px solid rgba(0,0,0,0.12);
    --aw-wm-btn-bg: rgba(0, 0, 0, 0.2);
    --aw-wm-btn-bg-hover: rgba(0, 0, 0, 0.30);
    --aw-wm-btn-border: rgba(0, 0, 0, 0.12);
    --aw-wm-btn-close-hover: rgba(220, 50, 50, 0.80);

    --aw-wm-shadow: 0 10px 24px rgba(0, 0, 0, 0.18);
    --aw-wm-shadow-active: 0 10px 24px rgba(0, 0, 0, 0.18);
}

/* Density presets */
.aw-wm-root[data-density="comfortable"] {
    --aw-wm-titlebar-h: 28px;
    --aw-wm-titlebar-padding-x: 8px;
    --aw-wm-controls-gap: 6px;
    --aw-wm-radius: 10px;
}

.aw-wm-root[data-density="compact"] {
    --aw-wm-titlebar-h: 24px;
    --aw-wm-titlebar-padding-x: 6px;
    --aw-wm-controls-gap: 4px;
    --aw-wm-radius: 8px;
}
